In [10]:
# Import required libraries
from pyspark.sql import SparkSession
from lib.spark_session import get_spark_session
from delta.tables import DeltaTable

spark.sparkContext.setLogLevel("ERROR")

In [11]:
# Generate SparkSession
spark: SparkSession = get_spark_session("Consume")

In [12]:
df_employees = spark.read.format("delta").load(emp_path)

In [13]:
df_employees.show()

+------+--------+---------+-------+
|emp_id|emp_name|dept_code| salary|
+------+--------+---------+-------+
|  1003| Charlie|     D103|75000.0|
|  1004|   David|     D104|65000.0|
|  1005|     Eve|     D105|70000.0|
|  1003| Charlie|     D103|75000.0|
|  1004|   David|     D104|65000.0|
|  1005|     Eve|     D105|70000.0|
|  1003| Charlie|     D103|75000.0|
|  1004|   David|     D104|65000.0|
|  1005|     Eve|     D105|70000.0|
|  1001|   Alice|     D101|55000.0|
|  1002|     Bob|     D102|60000.0|
|  1001|   Alice|     D101|55000.0|
|  1002|     Bob|     D102|60000.0|
|  1001|   Alice|     D101|55000.0|
|  1002|     Bob|     D102|60000.0|
+------+--------+---------+-------+

In [17]:
# Parâmetros de conexão
url = "jdbc:postgresql://dw:5432/postgres"
tabela = "public.empregados"
usuario = "dw"
senha = "postgres"
driver = "org.postgresql.Driver"

# Grava no PostgreSQL
df_employees.write \
  .format("jdbc") \
  .option("url", url) \
  .option("dbtable", tabela) \
  .option("user", usuario) \
  .option("password", senha) \
  .option("driver", driver) \
  .mode("overwrite") \
  .save()

In [18]:
spark.stop()